/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/edit.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/edit.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, sans;
  color: #fff;
}

/* line 30, ../sass/edit.scss */
footer {
  font-size: 10px;
  color: #000;
}
/* line 33, ../sass/edit.scss */
footer p {
  float: right;
  padding-top: 20px;
  padding-right: 30px;
}
/* line 38, ../sass/edit.scss */
footer #license {
  font-size: 7px;
}

/* line 44, ../sass/edit.scss */
nav {
  position: fixed;
  top: 0px;
  left: 40px;
}
/* line 51, ../sass/edit.scss */
nav ul li {
  float: left;
  margin-right: 1px;
}

/* line 1, ../sass/_btn.scss */
.btn, .label-btn, .icon-btn, .plus-btn, .info-btn, .back-btn, .save-btn, .undo-btn, .redo-btn, .eraser-btn, .delete-btn, .brush-width-btn, .brush-btn, .brush-btn-thin, .brush-btn-medium, .brush-btn-thick, .move-btn, .fill-btn, .color-btn, .fill-color-btn {
  background-color: #e5005b;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

/* line 7, ../sass/_btn.scss */
.btn:hover, .label-btn:hover, .icon-btn:hover, .plus-btn:hover, .info-btn:hover, .back-btn:hover, .save-btn:hover, .undo-btn:hover, .redo-btn:hover, .eraser-btn:hover, .delete-btn:hover, .brush-width-btn:hover, .brush-btn:hover, .brush-btn-thin:hover, .brush-btn-medium:hover, .brush-btn-thick:hover, .move-btn:hover, .fill-btn:hover, .color-btn:hover, .fill-color-btn:hover {
  background-color: #ff63a1;
}

/* line 11, ../sass/_btn.scss */
.label-btn {
  padding: 20px;
  text-align: center;
  color: #fff;
}

/* line 18, ../sass/_btn.scss */
.icon-btn, .plus-btn, .info-btn, .back-btn, .save-btn, .undo-btn, .redo-btn, .eraser-btn, .delete-btn, .brush-width-btn, .brush-btn, .brush-btn-thin, .brush-btn-medium, .brush-btn-thick, .move-btn, .fill-btn, .color-btn, .fill-color-btn {
  display: block;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
}

/* line 29, ../sass/_btn.scss */
.plus-btn {
  background-image: url("../img/icons/plus.svg");
}

/* line 34, ../sass/_btn.scss */
.info-btn {
  background-size: 70%;
  background-image: url("../img/icons/info.svg");
}

/* line 40, ../sass/_btn.scss */
.back-btn {
  background-image: url("../img/icons/back.svg");
}

/* line 45, ../sass/_btn.scss */
.save-btn {
  background-image: url("../img/icons/save.svg");
}

/* line 50, ../sass/_btn.scss */
.undo-btn {
  background-image: url("../img/icons/undo.svg");
}

/* line 55, ../sass/_btn.scss */
.redo-btn {
  background-image: url("../img/icons/redo.svg");
}

/* line 60, ../sass/_btn.scss */
.eraser-btn {
  background-image: url("../img/icons/eraser.svg");
}

/* line 65, ../sass/_btn.scss */
.delete-btn {
  background-image: url("../img/icons/delete.svg");
}

/* line 70, ../sass/_btn.scss */
.brush-width-btn {
  background-image: url("../img/icons/line.svg");
}

/* line 75, ../sass/_btn.scss */
.brush-btn, .brush-btn-thin, .brush-btn-medium, .brush-btn-thick {
  background-image: url("../img/icons/brush.svg");
}

/* line 80, ../sass/_btn.scss */
.brush-btn-thin {
  background-size: 30%;
}

/* line 85, ../sass/_btn.scss */
.brush-btn-medium {
  background-size: 50%;
}

/* line 90, ../sass/_btn.scss */
.brush-btn-thick {
  background-size: 65%;
}

/* line 95, ../sass/_btn.scss */
.move-btn {
  background-image: url("../img/icons/move.svg");
}

/* line 101, ../sass/_btn.scss */
.fill-btn {
  background-image: url("../img/icons/fill.svg");
}

/* line 106, ../sass/_btn.scss */
.color-btn, .fill-color-btn {
  position: relative;
}
/* line 109, ../sass/_btn.scss */
.color-btn span, .fill-color-btn span {
  display: block;
  border-style: solid;
  border-width: 0px;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  margin-top: -11px;
}
/* line 124, ../sass/_btn.scss */
.color-btn span.black, .fill-color-btn span.black {
  background-color: #000;
}
/* line 125, ../sass/_btn.scss */
.color-btn span.white, .fill-color-btn span.white {
  background-color: #fff;
}
/* line 126, ../sass/_btn.scss */
.color-btn span.red, .fill-color-btn span.red {
  background-color: #f00;
}
/* line 127, ../sass/_btn.scss */
.color-btn span.orange, .fill-color-btn span.orange {
  background-color: #EA5B0C;
}
/* line 128, ../sass/_btn.scss */
.color-btn span.yellow, .fill-color-btn span.yellow {
  background-color: #FFDE00;
}
/* line 129, ../sass/_btn.scss */
.color-btn span.green, .fill-color-btn span.green {
  background-color: #00983A;
}
/* line 130, ../sass/_btn.scss */
.color-btn span.blue, .fill-color-btn span.blue {
  background-color: #27348B;
}
/* line 131, ../sass/_btn.scss */
.color-btn span.purple, .fill-color-btn span.purple {
  background-color: #82368C;
}

/* line 138, ../sass/_btn.scss */
.fill-color-btn span {
  display: block;
  border-radius: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
}

/* line 153, ../sass/_btn.scss */
a.selected {
  background-color: #ff63a1 !important;
}
