.btn {
    background-color: $pink-dark;
    cursor: pointer;
    @include transition(background-color 0.5s);
}

.btn:hover {
    background-color: $pink-light;
}

.label-btn {
    @extend .btn;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.icon-btn {
    @extend .btn;
    display: block;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}

.plus-btn {
    @extend .icon-btn;
    background-image: url('../img/icons/plus.svg');
}

.info-btn {
    @extend .icon-btn;
    background-size: 70%;
    background-image: url('../img/icons/info.svg');
}

.back-btn {
    @extend .icon-btn;
    background-image: url('../img/icons/back.svg');
}

.save-btn {
    @extend .icon-btn;
    background-image: url('../img/icons/save.svg');
}

.undo-btn {
    @extend .icon-btn;
    background-image: url('../img/icons/undo.svg');
}

.redo-btn {
    @extend .icon-btn;
    background-image: url('../img/icons/redo.svg');
}

.eraser-btn {
    @extend .icon-btn;
    background-image: url('../img/icons/eraser.svg');
}

.delete-btn {
    @extend .icon-btn;
    background-image: url('../img/icons/delete.svg');
}

.brush-width-btn {
    @extend .icon-btn;
    background-image: url('../img/icons/line.svg');
}

.brush-btn {
    @extend .icon-btn;
    background-image: url('../img/icons/brush.svg');
}

.brush-btn-thin {
    @extend .brush-btn;
    background-size: 30%;
}

.brush-btn-medium {
    @extend .brush-btn;
    background-size: 50%;
}

.brush-btn-thick {
    @extend .brush-btn;
    background-size: 65%;
}

.move-btn {
    @extend .icon-btn;
    background-image: url('../img/icons/move.svg');

}

.fill-btn {
    @extend .icon-btn;
    background-image: url('../img/icons/fill.svg');
}

.color-btn {
    @extend .icon-btn;
    position: relative;
    span {
        display: block;
        border-style: solid;
        border-width: 0px;

        border-radius: 20px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -11px;
        margin-top:-11px;
    }

    span.black { background-color: #000; }
    span.white { background-color: #fff; }
    span.red { background-color: #f00; }
    span.orange { background-color: #EA5B0C; }
    span.yellow { background-color: #FFDE00; }
    span.green { background-color: #00983A; }
    span.blue { background-color: #27348B; }
    span.purple { background-color: #82368C; }
}


.fill-color-btn {
    @extend .color-btn;

    span {
        display: block;
        border-radius: 0px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        margin-top:-10px;
    }
}



a.selected {
    background-color: $pink-light!important;
}
