#editor {

    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 11;

    canvas {
        position: absolute;
        top:0px;
        left:0px;
        width: 100%;
        height: 100%;

    }

    ul {
        position: absolute;
        top:100px;
        z-index: 12;

        li {
            margin-bottom: 1px;

            ul {

                margin-left: 41px;
                width: 350px;

                li {
                    display: block;
                    float: left;
                    margin-right: 1px;
                }
            }


        }


        li.stroke-width-menu {
            margin-top: 100px;
            ul{
                top : 304px;
            }
        }

        li.stroke-color-menu {
            ul{
                top : 345px;
            }
        }

        li.fill-color-menu {
            ul{
                top : 386px;
            }
        }


    }


}

#editor.delete-cursor {
    cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA66TnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADgAAAC4AAABuAAAA4AAAAdwAAAO4AAAHcAAABuAAAAXAAAADgAAAAAAAAA///////////////////////////////////////////////////////////////////////////////////////////////////////////+D////A////gP///wD///4A///8Af//+AP///AH///wD///8B////A////wf///8='), auto;
}