nav {

    position: fixed;
    top: 0px;
    left: 40px;

    z-index:10;

    opacity: 0;

    @include transition(opacity 0.5s);
    @include pointer-events(none);

    ul {
        li {
            float: left;
            margin-right: 1px;
        }
    }
}

nav.show {
    @include pointer-events(all);
    opacity: 1;
}