/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "mixins/animation";
@import "mixins/pointer-events";

$pink-dark  :   #E5005B;
$pink-light :   #FF63A1;
$yellow     :   #F3FF23;


html, body {
    width: 100%;
    height: 100%;
    font-family: Helvetica, sans;
    color: #fff;
    overflow: hidden;
}

footer {
    font-size: 10px;
    color: #000;
    p {
        float: right;
        padding-top: 20px;
        padding-right: 30px;
    }
    #license {
        font-size: 7px;
    }
}


h1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/logo.svg'), url('../img/chevron.svg') ;
    background-repeat: no-repeat, no-repeat;
    background-size: 70%, 10%;
    background-position: 50% 45%, 50% 90%;
    text-indent: -9999px;
    z-index: 2;

}

h1.hide {
    @include transform(translate(0px, -1200px));
}

svg {
    z-index: 1;
    width: 100%;
    height: 100%;
    @include pointer-events(none);
    position: fixed;
    top:0px;
    left: 0px;
    -webkit-transform: translate3d(0,0,0);
}


@import "btn";
@import "nav";
@import "info";





@include keyframes(upper-jaw-animation) {
    0% {
        @include rotate(0deg);
    }
    100% {
        @include rotate(-30deg);
    }
}

@include keyframes(lower-jaw-animation) {
    0% {
        @include rotate(0deg);
    }
    100% {
        @include rotate(20deg);
    }
}

@include keyframes(attack) {
    0% {

        @include transform3d( scale3d(3,3,1) translate3d(100px,0px, 0px));
    }
    100% {
        @include transform3d(scale3d(2,2,1) translate3d(0px,0px, 0px));
    }
}

@include keyframes(shrink) {
    0% {

        @include transform3d(scale3d(2,2,1));
    }
    100% {
        @include transform3d(scale3d(0.2,0.2,1));
    }
}


.attack {
   @include animation(attack 0.5s ease-in);
}

.shrink {
    @include animation(shrink 0.5s ease-in);
}

.upper {


    @include animation(upper-jaw-animation 1s ease-out infinite);
}

.lower {
    -webkit-transform-origin: 430px 200px;
    @include animation(lower-jaw-animation 1s ease-out infinite);
}

.unit {
    //@include transition(transform 1s);
    position: absolute;
    //@include translate(500%, 500%);
}

#unit {
    //@include translate(-320px, -240px);
}



