.bathroom {
  background-size: cover;
  background-position: top left;
  background-image: url('../img/high/bathroom/poster.jpg');

  .smoke {
    position: absolute;
    width: 700px;
    height: 250px;
    background:url('../img/high/bathroom/smoke.png') no-repeat;
    background-size: contain;
    bottom: 32%;
    margin-left:18%;
    @include rotate(-15deg);
  }

  .glass {
    position: absolute;
    width: 547px;
    height: 654px;
    left:45.98958333333333%;
    background:url('../img/high/bathroom/glass.png') no-repeat;
    background-size: cover;
    opacity: 0;
    @include single-transition(opacity, 10s, linear, 0);
  }

  .glass.steam {
    opacity: 1;
  }

  .glass-mask {
    position: absolute;
    width: 547px;
    height: 654px;
    left:45.98958333333333%;
  }

  .mask {
    -webkit-mask: url(#mask);
  }
}