/**
*
*   Money Plant Story Sass
*
*/


// Scale Animation
$plant-scale : 0.99;


/**
* Animations
***********************************************************************************************************************/

@-webkit-keyframes slidePrimary {
  100% {
    @include translateX(-1920px);
  }
}

@-webkit-keyframes slideSecondary {
  100% {
    @include translateX(0px);
  }
}

@-webkit-keyframes parallax-animation {
  100% {
    @include translateX(100px);
  }
}

@-webkit-keyframes plant-animation {
  50% {
    @include scaleY($plant-scale);
  }
}

@-webkit-keyframes plant3-animation {
  50% {
    @include scaleX($plant-scale);
  }

  70% {
    @include scaleY($plant-scale);
  }
}

@-webkit-keyframes plant4-animation {
  50% {
    @include scale(0.98);
  }
}

@-webkit-keyframes butterfly1-sheet {
  from { background-position-y: 0px; }
  to { background-position-y: -990px; }
}





.money-plant {

  .primary.trans {
    @include single-transition(transform, 4s, cubic-bezier(0.42,0,0.58,1), 0);
  }

  .secondary.trans {
    @include single-transition(transform, 4s, cubic-bezier(0.42,0,0.58,1), 0);
    //@include single-transition(transform, 4s, cubic-bezier(0.42,0,0.58,1), 0);
  }
  .parallax.trans {
    //@include single-transition(transform, 4s, cubic-bezier(0.42,0,0.58,1), 0);
  }

  .plant1.animation {
    -webkit-animation: plant-animation 5s ease infinite;
  }

  .plant2.animation {
    -webkit-animation: plant-animation 7s ease infinite;
  }

  .plant3.animation {
    -webkit-animation: plant3-animation 10s ease infinite;
  }

  .plant4.animation {
    -webkit-animation: plant4-animation 10s ease infinite;
  }

  .butterfly.sheet {
    -webkit-animation: butterfly1-sheet .8s steps(15);
  }

/**
* Styling
************************************************************************************************************************/

  .loader {
    margin: 300px auto;
  }

  .primary {
    background: url('../img/high/money-plant/poster.jpg') no-repeat;
    position: absolute;
    right:0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-position: right bottom;
    background-size:cover;
    @include translateX(0px);

    .drop {
      background-color: lightblue;
      width: 10px;
      height: 10px;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -webkit-transform:rotate(45deg);
      box-shadow: 1px 1px 7px #1a1a1a;

    }

    .plant-hit {
      width: 150px;
      height:150px;
      background: rgba(0,0,0,0.2);
      position: absolute;
      bottom:0px;
      right:0px;

    }

  }

  .secondary {
    position: absolute;
    right:0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-position: left bottom;
    @include translateX(1920px);

    background-size:cover;



    .parallax {
      position:absolute;
      width: 100%;
      height: 100%;
      min-height: 100%;
      background-position: left bottom;
      background-size:cover;
    }

    .plants{
      position:absolute;
      width: 100%;
      height: 100%;
      min-height: 100%;
      background-repeat: no-repeat;
      background-position: top left;
      background-size:cover;

      .css-stage {
        position: absolute;
        top:0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(255,0,0,0.2);

        .butterfly {
          position: absolute;
          width: 60px;
          height: 66px;
          left: 856px;
          top: 669px;
          background-size: cover;
          -webkit-animation: butterfly1-sheet .8s steps(15) infinite;
          //@include translate(500px, -500px);
        }
      }

    }

    .plant1 {
      position:absolute;
      width: 768px;
      height:546px;
      background-size: cover;
      @include transform-origin(50%, 100%);
    }

    .plant2 {
      position:absolute;
      width: 1007px;
      height:596px;
      background-size: cover;
      @include transform-origin(55%, 100%);
    }


    .plant3 {
      position:absolute;
      width: 512px;
      height:596px;
      background-size: cover;
      @include transform-origin(100%, 100%);
    }

    .plant4 {
      position:absolute;
      width: 245px;
      height:295px;
      background-size: cover;
      @include transform-origin(50%, 100%);
    }


    .hedge {
      position:absolute;
      width: 746px;
      height:328px;
      background-size: cover;
    }

    .butterfly1 {
      position: absolute;
      width: 60px;
      height: 66px;
      background-size: cover;
    }
  }
}